@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(27, 82, 146, 0.548);
    padding: 1rem;
    border-radius: 0.4rem;
}